[Unit]
Description=qBittorrent Enhanced Edition Service

Documentation=man:qbittorrent-nox(1)
After=network.target

[Service]
Type=simple
PrivateTmp=false
User=qbtuser
LimitNOFILE=32768
ExecStart=/usr/bin/qbittorrent-nox
TimeoutSec=120

[Install]
WantedBy=multi-user.target
